$textHeaderColor:#fafafa;
$textColor:#1b1a1a;
$titleTextColor:#1a1a3c;
$titleColor:#07a0a0;
$primaryColor:#82e276;
$bgColor:#f3f3f3;
$bgMainColor:  #013333;
$bgHeaderColor:  rgba(1, 51, 51, 0.8);
$bgSecondColor:#fafafa;
$titleFontFamily: "Josefin Sans", sans-serif;
$textFontFamily: "Poppins", sans-serif;