.headerBlock{
 height: 100vh;
 background-color: aquamarine;
//  text-align: center;
}
.header{
   // margin: 0 auto;
   // text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.navbar{
   width: 100%;
   display: flex;
   justify-content: space-between;
   box-shadow: 10px 10px 10px 10px black;
   img{
      box-shadow: 10px 10px 10px 10px black;
      display: block;
   }
}
.logo{
      
}
.menu{
      
}
.buttonQuestion{
// position: absolute;
// bottom: 0;
}